 body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        background-image: url("earth-bg.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        align-items: center;
        color: white;
        position: relative;
      }
      body::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -1;
      }
      main {
        display: flex;
        flex: 1;
        cursor: pointer;
        /* color: white; */
        align-items: center;
        justify-content: center;
        width: 100%;
        transition: all 0.4s;
      }
      .zoomIn {
        transform: scaleX(1.8) scaleY(1.9);
      }
      h1 {
        font-size: 4rem;
        font-weight: 400;
        text-transform: uppercase;
      }
      /* direct child selector */
      main > div {
        display: flex;
        align-items: center;
      }
      main > div > div {
        font-size: 8rem;
      }
      main span {
        font-size: 4rem;
      }
